.DS_Store
public
resources
.idea
content/.obsidian
.gitignore
node_modules
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
/content/Personal/
/content/Personal/*
Personal/
Personal/*
