<!-- {{$src := .Destination | safeURL }} -->
<!-- {{$width := index (split .Text "|") 1 | default "auto" }} -->
<!-- {{$external := strings.HasPrefix $src "http" }} -->
<!-- {{- if $external -}} -->
<!-- <img src="{{ $src }}" width="{{ $width }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }} /> -->
<!-- {{- else -}} -->
<!-- {{$fixedUrl := (cond (hasPrefix $src "/") $src (print "/" $src)) | urlize}} -->
<!-- <img src="{{.Page.Site.BaseURL}}{{ $fixedUrl }}" width="{{ $width }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}" {{ end }} /> -->
<!-- {{- end -}} -->
{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}

<img src="
  {{- if eq $scheme "" -}}
    {{- if strings.HasSuffix $url.Path ".md" -}}
      {{- relref .Page .Destination | safeURL -}}
    {{- else -}}
      {{- printf "/%s%s" .Page.File.Dir .Destination | safeURL -}}
    {{- end -}}
  {{- else -}}
    {{- .Destination | safeURL -}}
  {{- end -}}"
  {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}
  {{- with .Text }} alt="{{ . | safeHTML }}"
  {{- end -}}
/>

{{- /* whitespace stripped here to avoid trailing newline in rendered result caused by file EOL */ -}}
