@use "./base.scss";

// put your custom CSS here!
:root {
  --light: #DEE4E7 !important;
  --dark: #37474F !important;
  --secondary: #455A64 !important;
  --tertiary: #2DB67E !important;
  --visited: #afbfc9 !important;
  --primary: #f28482 !important;
  --gray: #455A64 !important;
  --lightgray: #90A4AE !important;
  --outlinegray: #dadada !important;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #282c34 !important;
  --dark: #ABB2BF !important;
  --secondary: #61AFEF !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  /* Green that I like, but too much for dark theme */
  /* --tertiary: #2DB67E !important; */
  --primary: #E06C75 !important;
  --gray: #ABB2BF !important;
  --truelightgray: #4e4e4e !important;
  --codebackground: #1f2329 !important;
  --lightgray: #C678DD !important;
  --darkgray: #ABB2BF !important;
  --outlinegray: #ABB2BF !important;
}

// #181b20 Very dark
// #1f2329 Less dark

