name: Deploy to GitHub Pages


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  # pull_request:
    # branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:jobs:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      # - uses: actions/checkout@v2
      #   with:
      #     fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      # - name: Setup Hugo
      #   uses: peaceiris/actions-hugo@v2
      #   with:
      #     hugo-version: '0.96.0'
      #     extended: true

      # - name: Build
      #   run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: master  # deploying branch
          cname: domogami.github.io
